---
layout: base.njk
---

{% import 'macros/heading.njk' as text %}
{% import 'macros/button.njk' as buttonType %}

<main class="about">
  {{ text.heading(
    tag='h1',
    text='About page'
  ) }}

  <div class="about__content">
    {% for item in about %}
      <p>
        {{ item }}
      </p>
    {% endfor %}
  </div>
</main>
