---
layout: base.njk
---

{% import 'macros/heading.njk' as text %}

<main class="error">
  {{ text.heading(
    tag='h1',
    text='Error page'
  ) }}

  <p>
    Something went wrong and now you can see this custom error page.
  </p>

  <p>
    <a href="{{ '/' | url }}">Try to return to homepage</a>
  </p>
</main>
