---
layout: base.njk
---

{% import 'macros/heading.njk' as text %}

<main class="error">
  {{ text.heading(
    tag='h1',
    class='uk-heading-line uk-text-center',
    text='Error page'
  ) }}
</main>
