---
layout: base.njk
---

{% import 'macros/heading.njk' as text %}
{% import 'macros/button.njk' as buttonType %}

<main class="gallery">
  {{ text.heading(
    tag='h1',
    text='Random gallery'
  ) }}

  <div class="gallery__content"></div>

  <p class="gallery__text">
    Random photos from <a href="{{ 'https://source.unsplash.com/' | url }}" target="_blank">unspash</a>.
  </p>
</main>
