---
layout: base.njk
---

{% import 'macros/heading.njk' as text %}
{% import 'macros/button.njk' as buttonType %}

<main class="gallery">
  {{ text.heading(
    tag='h1',
    text='Gallery'
  ) }}

  <div class="gallery__content"></div>

  <p class="gallery__text">
    Random photos from unspash.
  </p>
</main>
