---
layout: base.njk
---

<main class="home">
    {% import 'macros/heading.njk' as text %}
    {% import 'macros/button.njk' as buttonType %}

    {{ text.heading(
      tag='h2',
      text='Choose view'
    ) }}

    <div class="home__wrapper">
      <div class="home__element">
        {{ text.heading(
          tag='h3',
          text='About page'
        ) }}

        <p>
          Some example about page
        </p>

        {{ buttonType.link(link='/about', text='Button to go') }}
      </div>

      <div class="home__element">
        {{ text.heading(
          tag='h3',
          text='Gallery'
        ) }}

        <p>
          Random gallery
        </p>

        {{ buttonType.link(link='/gallery', text='Button to go') }}
      </div>
    </div>
</main>
