{% import 'macros/heading.njk' as text %}

<header class="header">
  <a href="{{ '/' | url }}" class="header__logo">
    {{ text.heading(
      tag='h1',
      class='header__title',
      text='example app'
    ) }}
  </a>
</header>
