.gallery__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.gallery__content img {
  margin: 12px;
}

@media (min-width: 768px) {
  main {
    padding: 0;
  }

  .gallery__content img {
    max-width: calc(25% - 24px);
  }
}
