html {
  position: relative;
}

body {
  min-width: 320px;
  margin: 0;
  color: #253031;
  font-family: Verdana, Geneva, sans-serif;
}

*,
*:before,
*:after {
  margin: 0;
}

img {
  transition: opacity 500ms ease;
}

iframe {
  display: block;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
button {
  border-radius: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
